.main-wrapper {
    min-height: 100vh;
    width: 100%;
}
.btn-click{
    background: #5CB85C;
    color: #ffffff;
    border: 1px solid #009100;
    padding: 5px 10px;
}
.d-flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-flex-align-center {
    display: flex;
    align-items: center;
}

.d-flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-justify-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Model style */
.modal-dialog {
    max-width: 100%;
    margin: 1.75rem;
}

.modal-content {
    background: #F5F5F4;
    border: none;
}

.modal-header {
    height: 32px;
    padding: 3px 10px;
    background: #5CB85C;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.modal-title {
    font-size: 13px;
    color: #ffffff;
}

.modal-body {
    padding: 0;
}

.alerts-tabs {
    border-bottom: 2px solid #5CB85C;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 0;
}

.alerts-tabs li {
    background: #5CB85C;
    font-size: 11px;
    color: #ffffff;
    padding: 5px 10px;
    /* margin-right: 2px; */
    border-top: 2px solid #5CB85C;
}

.alerts-tabs li:not(.active) {
    border-right: 2px solid #F5F5F4;
}

.alerts-tabs li:first-child {
    border-top-left-radius: 3px;
    border-left: 2px solid #5CB85C;
}

.alerts-tabs li:last-child {
    margin-right: 0;
    border-top-right-radius: 3px;
}

.alerts-tabs li.active {
    color: #5CB85C;
    background: #FFFFFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
}

.alerts-tabs li.active::after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -2px;
    right: 0;
    left: 0;
    background: #F5F5F4;
}

.title {
    font-size: 13px;
    color: #5CB85C;
    margin: 15px 0 10px;
}

.find-lbl {
    color: #000000;
    font-size: 12px;
    margin-bottom: 0;
    margin-right: 10px;
}

input.form-control {
    background: #FFFFFF;
    border: 1px solid #CCCDCE;
    border-radius: 2px;
    height: 25px;
    padding: 3px 10px;
    color: #000000;
    font-size: 11px;
    width: 100%;
    /* max-width: 250px; */
}

table {
    border: 1px solid #B4CDD9;
    border-top: none;
    font-size: 11px;
    margin: 10px 0;
}

table tr th {
    color: #FFFFFF;
    background: #5CB85C;
    height: 25px;
    padding: 2px 10px;
}
table tr th:not(:last-child) {
    border-right: 1px solid #B4CDD9;
}
table tr th:first-child {
    padding: 4px 10px 2px;
}
table tbody tr:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}
table tr td {
    border: 1px solid #B4CDD9;
    border-top: none;
    border-bottom: none;
    padding: 4px 10px;
}

table tr td:first-child {
    padding: 4px 10px 2px;
}

input[type="checkbox"] {
    width: 11px;
    height: 11px;
    background: #FFFFFF;
}

.cancel-btn,
.del-btn,
.add-btn {
    width: 57px;
    height: 25px;
    background: #E1E1E1;
    color: #000000;
    border: 1px solid #A3A3A3;

}

.ok-btn {
    width: 37px;
    height: 25px;
    background: #5CB85C;
    color: #ffffff;
    border: 1px solid #009100;
    margin: 0 10px;
}

.cancel-btn,
.ok-btn,
.del-btn,
.add-btn {
    border-radius: 2px;
    padding: 3px 10px;
    font-size: 12px;
    margin-bottom: 5px;
}

.border-right {
    border-right: 1px solid #CCCDCE;
}

.table-footer {
    font-size: 12px;
    color: #000000;
    display: flex;
    align-items: center;
}

.table-footer label {
    margin-bottom: 0;
}

.tot-lbl {
    margin-right: 20px;
}

.show-page {
    width: 28px;
    height: 23px;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #D6D6D5;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    padding: 2px 7px;
    margin: 0 10px;
}

.tot-page {
    margin: 0 5px;
}

.back-btn,
.forw-btn {
    background: #E8FFE3;
    border: 1px solid #74B566;
    border-radius: 2px;
    height: 23px;
    width: 25px;
    display: inline-block;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    color: #5CB85C;
    margin-right: 5px;
}
.back-btn:hover,
.forw-btn:hover {
    text-decoration: none;
}

.form-wrapper {
    margin-top: 15px;
}

.form-wrapper .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-wrapper label {
    min-width: 65px;
    font-size: 12px;
    color: #000000;
    margin-right: 35px;
    margin-bottom: 0;
}
.add-btn{
    display: block;
    margin: 0 0 5px auto;
}
.footer-btn{
    margin-bottom: 10px;
}
.modal{
    overflow-y: scroll;
}

@media screen and (min-width:768px) and (max-width:991px){
    .form-wrapper label{
        margin-right: 20px;
    }
}
@media screen and (max-width:767px) {
   
    .modal-dialog {
        margin: 1.75rem 1rem 1rem;
    }

    .alerts-tabs {
        justify-content: flex-start;
        overflow-x: scroll;
        margin: 0 10px;
        padding-right: 0;
    }

    .alerts-tabs li {
        padding: 5px;
        min-width: 85px;
        min-height: 45px;
        display: flex;
        align-items: center;
    }
    .add-btn{
        margin: 0 auto 10px;
    }
    .footer-btn{
        justify-content: center;
        padding: 15px 0;
        border-top: 1px solid #E1E1E1;
    }
    .form-wrapper {
        margin-top: 20px;
    }
}