/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
}
.form-control:focus {
    box-shadow: none;
}
.ngx-pagination {
    margin-bottom: 0!important;
}
.ngx-pagination .current {
    background: #5cb85c!important;
}